@{
    ViewBag.Title = "Información de contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    (503) 2222-0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@example.com">support@example.com</a><br />
    <strong>Info:</strong> <a href="mailto:info@example.com">s\info@example.com</a>
</address>