
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consulta - .:Clínica Odontólogica:.</title>
</head>
<body>
    <div> 
            Formulario para la consulta
    </div>
</body>
</html>
